body {
  width: 100vw;
  height: 100vh;
  background-color: #131314;
  margin: 0;
  overflow: hidden;
  cursor: none;
}

#mouse {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border: thin solid white;
  border-radius: 50%;
  z-index: 999;
  transition: transform 0.2s ease-out;
  will-change: transform;
  pointer-events: none;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

:root {
  --image-width: 45vh;
  --image-height: 60vh;
}
/* 
body::after,
body::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: white;
}

body::before {
  width: 1px;
  height: 20px;
} */

#image-track {
  display: flex;
  gap: 3vmin;
  position: absolute;
  top: 50%;
  left: calc(50% - var(--image-width) / 2);
  transform: translate(0, -50%);
  user-select: none;
  will-change: transform;
}

#image-track > .image {
  border-radius: 5px;
  width: var(--image-width);
  height: var(--image-height);
  object-position: 100% center;
  object-fit: cover;
  will-change: object-position;
}
